body {
	margin: 0;
	padding: 0;
}

[data-theme="light"].wrapper {
	background-color: var(--lm-bg);
}

[data-theme="dark"].wrapper {
	background-color: var(--dm-bg);
}

[data-font="Sans Serif"].wrapper * {
	font-family: var(--sans);
}

[data-font="Serif"].wrapper * {
	font-family: var(--serif);
}

[data-font="Mono"].wrapper * {
	font-family: var(--mono);
}

button {
	border: none;
	background-color: transparent;
}

[data-theme="light"] p {
	color: var(--lm-text);
}

[data-theme="dark"] p {
	color: var(--dm-text);
}
