* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pageContent {
	min-height: 100vh;
	padding-bottom: 50px;
}

[data-theme="light"].pageContent {
	background-color: var(--lm-bg);
}

[data-theme="dark"].pageContent {
	background-color: var(--dm-bg);
}

[data-font="Sans Serif"].pageContent * {
	font-family: var(--sans);
}

[data-font="Serif"].pageContent * {
	font-family: var(--serif);
}

[data-font="Mono"].pageContent * {
	font-family: var(--mono);
}

button {
	border: none;
	background-color: transparent;
}

[data-theme="light"] p {
	color: var(--lm-text);
}

[data-theme="dark"] p {
	color: var(--dm-text);
}
