header {
	padding: var(--gap-sm) var(--gap-md);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerControls {
	display: flex;
	gap: var(--gap-md);
}

.fontPicker {
	position: relative;
	display: flex;
	gap: var(--gap-xs);
}

.fontPicker p {
	font-weight: var(--fw-header);
}

.fontButton {
	display: grid;
	grid-template-columns: 3fr 1fr;
	place-items: center;
	gap: var(--gap-xs);
}

.fontSelector {
	padding: var(--gap-sm) var(--gap-xl) var(--gap-sm) var(--gap-sm);
	flex-direction: column;
	gap: 26px;
	position: absolute;
	z-index: 20;
	top: 60px;
	left: -50px;
	border-radius: 16px;
	background-color: var(--lm-bg);
	box-shadow: 0px 0px 10px #00000033;
}

[data-theme="dark"] .fontSelector {
	background-color: var(--dm-bg);
	box-shadow: 0px 0px 10px #a445ed;
}

.fontSelector button {
	display: block;
}

.fontSelector p {
	font-size: var(--fs-body-sm);
	text-align: left;
	width: 100px;
}

.dmControls {
	display: flex;
	align-items: center;
	gap: var(--gap-xs);
}

.dmToggle {
	position: relative;
	width: 60px;
	height: 24px;
	border-radius: 16px;
	background-color: var(--lm-subtext);
}

.dmHandler {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: var(--lm-bg);
	cursor: pointer;
}

.dmSwitch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 24px;
}

.dmSwitch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--lm-subtext);
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 3px;
	background-color: var(--lm-bg);
	transition: 0.4s;
	border-radius: 50%;
}

.dmSwitch input:checked + .slider {
	background-color: var(--main);
}

.dmSwitch input:focus + .slider {
	box-shadow: 0 0 1px var(--main);
}

.dmSwitch input:checked + .slider:before {
	transform: translateX(34px);
}
